body {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    margin: 0px;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.browser {
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.browser .navbar {
    height: 15px;
    background-color: #636e72;
    display: flex;
    align-items: center;
}

.controll {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;

}

.close {
    background-color: #e74c3c;
    margin-left: 5px;
}

.minimize {
    background-color: #f1c40f;
}

.maximize {
    background-color: #27ae60;
}

.content {
    padding: 25px;
}

.socials a {
    padding: 10px;
}

.profileImg {

    border-radius: 50%;
    max-width: 250px;

}


.contact {
    display: flex;
    flex-direction: column;
}

.contact input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}


.contact .submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact .submit:hover {
    background-color: #45a049;
}